.hero-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
  font-family: Arial, sans-serif;
  padding: 30px 30px 0 20px;
}

/* Hero Image */
.hero-image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
  margin-top: 0rem;
}

/* Scrolling Text */
.hero-scroller {
  height: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.scrolling-text {
  display: flex;
  gap: 100px;
  white-space: nowrap;
  animation: scroll 15s linear infinite;
  font-weight: bold;
  font-size: 18px;
  padding-left: 100%;
}

.scrolling-text span {
  margin-right: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Red Cards Section */
.hero-cards {
  display: flex;
  justify-content: space-around;
  background-color: rgb(251, 249, 246);
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(231, 225, 216);
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
}

.hero-card img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.hero-card p {
  font-weight: bold;
  text-align: center;
}
